body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dddede49;
}

/* Adicionando estilo ao cabeçalho */
header {
    background-image: url('https://raw.githubusercontent.com/GedsonPhelipe/GedsonPhelipe.github.io/refs/heads/main/cpu-processor-circuit-board-artificial-intelligence-scaled-1-1200x675.jpg');
    background-size: cover;
    
    color: white; /* Garante que o texto fique visível */
    padding: 60px 0; /* Adiciona espaço acima e abaixo do nome */
    text-align: center; /* Centraliza o texto dentro do header */
}

/* Estilizando o título do cabeçalho */
header h1 {
    margin: 0; /* Remove margens */
    font-size: 2.5em; /* Define o tamanho do texto */
    text-shadow: 2px 2px 4px rgba(2, 2, 2, 0.6); /* Adiciona sombra ao texto para melhor legibilidade */
}


nav {
    background-color: #000000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Permite que os itens se movam para a linha seguinte em telas pequenas */
}

nav ul li {
    flex: 1;
    text-align: center;
}

nav ul li a {
    display: block;
    color: rgb(255, 255, 255);
    padding: 14px 20px;
    text-decoration: none;
}

nav ul li a:hover {
    background: linear-gradient(to bottom, #0c0c0c, #30219f94);
    
}
    nav ul li {
        width: 100%; /* Faz com que cada item ocupe toda a largura disponível */
    }


section {
    padding: 20px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 800px; /* O formulário também seguirá essa largura */
}

h2 {
    text-align: center;  /* Centraliza o texto dos títulos h2 */
    margin-top: 0;  /* Remove a margem superior padrão */
}
    /* Ajuste para o iframe do formulário */
#contato iframe {
    width: 100%;
    max-width: 800px;  /* Limita a largura máxima para que o formulário se alinhe com o conteúdo */
    height: 1000px;  /* Ajuste a altura conforme necessário */
    border: none;  /* Remove a borda do iframe */
    margin: 20px auto;  /* Centraliza o iframe e aplica margens */
    display: block;  /* Garante que o iframe seja exibido como um bloco */
}

#contato {
    padding: 20px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 800px;  /* Define a largura máxima */
}


}

